<!DOCTYPE html>
<html lang="en">
  <head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<title>Home &middot; TrackVigor </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="David K. Storrs">

    <!-- CSS -->
    <link href="/css/editablegrid.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/assets/ico/favicon.png">

	<script type="text/javascript" charset="utf-8" src="/js/jquery.js"></script>
	<script type="text/javascript" charset="utf-8" src="/js/editablegrid.js"></script>

	<script>
	  window.onload = function() {

	  // this approach is interesting if you need to dynamically create data in Javascript
	  var metadata = [];
	  metadata.push({ name: "name", label: "NAME", datatype: "string", editable: true});
	  metadata.push({ name: "firstname", label:"FIRSTNAME", datatype: "string", editable: true});
	  metadata.push({ name: "age", label: "AGE", datatype: "integer", editable: true});
	  metadata.push({ name: "height", label: "HEIGHT", datatype: "double(m,2)", editable: true});
	  metadata.push({ name: "country", label: "COUNTRY", datatype: "string", editable: true});
	  metadata.push({ name: "email", label: "EMAIL", datatype: "email", editable: true});
	  metadata.push({ name: "freelance", label: "FREELANCE", datatype: "boolean", editable: true});
	  metadata.push({ name: "lastvisit", label: "LAST VISIT", datatype: "date", editable: true});

	  // a small example of how you can manipulate the object in javascript
	  metadata[4].values = {};
	  metadata[4].values["Europe"] = {"be":"Belgium","fr":"France","uk":"Great-Britain","nl":"Nederland"};
	  metadata[4].values["America"] = {"br":"Brazil","ca":"Canada","us":"USA"};
	  metadata[4].values["Africa"] = {"ng":"Nigeria","za":"South-Africa","zw":"Zimbabwe"};

	  var data = [];
	  data.push({id: 1, values: {"country":"uk","age":33,"name":"Duke","firstname":"Patience","height":1.842,"email":"patience.duke@gmail.com","lastvisit":"11\/12\/2002"}});
	  data.push({id: 2, values: ["Rogers","Denise",59,1.627,"us","rogers.d@gmail.com","","07\/05\/2003"]});
	  data.push({id: 3, values: {"name":"Dujardin","firstname":"Antoine","age":21,"height":1.73,"country":"fr","email":"felix.compton@yahoo.fr","freelance":true,"lastvisit":"21\/02\/1999"}});
	  data.push({id: 4, values: {"name":"Conway","firstname":"Coby","age":47,"height":1.96,"country":"za","email":"coby@conwayinc.com","freelance":true,"lastvisit":"01\/12\/2007"}});
	  data.push({id: 5, values: {"name":"Shannon","firstname":"Rana","age":24,"height":1.56,"country":"nl","email":"ranna.shannon@hotmail.com","freelance":false,"lastvisit":"07\/10\/2009"}});
	  data.push({id: 6, values: {"name":"Benton","firstname":"Jasmine","age":61,"height":1.71,"country":"ca","email":"jasmine.benton@yahoo.com","freelance":false,"lastvisit":"13\/01\/2009"}});
	  data.push({id: 7, values: {"name":"Belletoise","firstname":"André","age":31,"height":1.84,"country":"be","email":"belletoise@kiloutou.be","freelance":true,"lastvisit":""}});
	  data.push({id: 8, values: {"name":"Santa-Maria","firstname":"Martin","age":37,"height":1.80,"country":"br","email":"martin.sm@gmail.com","freelance":false,"lastvisit":"12\/06\/1995"}});
	  data.push({id: 9, values: {"name":"Dieumerci","firstname":"Amédé","age":37,"height":1.81,"country":"ng","email":"dieumerci@gmail.com","freelance":true,"lastvisit":"05\/07\/2009"}});
	  data.push({id: 10,values: {"name":"Morin","firstname":"Wanthus","age":46,"height":1.77,"country":"zw","email":"morin.x@yahoo.jsdata.com","freelance":false,"lastvisit":"04\/03\/2004"}});

	  editableGrid = new EditableGrid("DemoGridJsData");
	  editableGrid.load({"metadata": metadata, "data": data});
	  editableGrid.renderGrid("tablecontent", "testgrid");
	  }
	  </script>
  </head>

  <body>
	
    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">
	  
      <!-- Fixed navbar -->
      <div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
		  <div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>
			<a class="brand" href="#"><strong>TrackVigor</strong> &raquo; Easy Medical Records</a>
			<div class="nav-collapse collapse">
			  <ul class="nav">
				<!--
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#contact">Contact</a></li>
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
				  <ul class="dropdown-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li class="divider"></li>
					<li class="nav-header">Nav header</li>
					<li><a href="#">Separated link</a></li>
					<li><a href="#">One more separated link</a></li>
				  </ul>
				</li>
				-->
			  </ul><!-- /.nav -->
			</div><!--/.nav-collapse -->
		  </div> <!--/.container -->
		</div> <!--/.navbar-inner -->
	  </div><!-- .navbar-fixed-top -->
	  
	  <!-- Begin page content -->
	  <div id="container">
		<div id="tablecontent"></div>
	  </div> <!-- /container -->
	  
	  <div id="push"></div>
	</div> <!-- /wrap -->
	
	
    <!-- ========================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- ========================================================== -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>
  </body>
</html>
